.existing-user-prompt{
    cursor:pointer;
    text-decoration: underline;
}
.Login-main{
    width:20%;
    height: 50vh;
    background-color: aquamarine;
}
form{
  
    height: 100%;
}
input{
    height: 1.5rem;
}

form>div {
    margin: 1rem;
}
label{
    
}

